<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" name="username" formControlName="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" formControlName="password"  placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"  placeholder="Confirm password">
  </div>
  <div class="form-group text-center"></div>
  <button class="btn btn-success mr-2" type="submit">Register</button>
  <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
</form>
<p>From value {{registerForm.value | json}}</p>
<p>From value {{registerForm.status | json}}</p>
